In [1]:
from math import *
import numpy as np
import pandas as pd
import csv
import matplotlib.pyplot as plt
import os

In [2]:
# Variables of data to download
d1 = '2018-04-02'
d2 = '2018-05-02'
gr = 'M1'
instrument = 'GBP_USD'
path = '/Users/diegomedina-bernal/Desktop/MadGeniusAlgorithmic/mining-scripts'

In [3]:
!python /Users/diegomedina-bernal/Desktop/MadGeniusAlgorithmic/mining-scripts/oandahist.py 2018-04-02T00:00:00Z 2018-05-02T00:00:00Z H4 GBP_USD

REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-02T00:00:00Z', 'to': '2018-04-02T08:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-02T08:20:00Z', 'to': '2018-04-02T16:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-02T16:40:00Z', 'to': '2018-04-03T01:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-03T01:00:00Z', 'to': '2018-04-03T09:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-03T09:20:00Z', 'to': '2018-04-03T17:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-03T17:40:00Z', 'to': '2018-04-04T02:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-04T02:00:00Z', 'to': '2018-04-04T10:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-04T10:20:00Z', 'to': '2018-04-04T18:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-04T18:40:00Z', 'to': '2018-04-05T03:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-05T03:00:00Z', 'to': '2018-04-05T11:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-05T11:20:00Z', 'to': '2018-04-05T19:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-05T19:40:00Z', 'to': '2018-04-06T04:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-06T04:00:00Z', 'to': '2018-04-06T12:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-06T12:20:00Z', 'to': '2018-04-06T20:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-06T20:40:00Z', 'to': '2018-04-07T05:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-07T05:00:00Z', 'to': '2018-04-07T13:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-07T13:20:00Z', 'to': '2018-04-07T21:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-07T21:40:00Z', 'to': '2018-04-08T06:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-08T06:00:00Z', 'to': '2018-04-08T14:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-08T14:20:00Z', 'to': '2018-04-08T22:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-08T22:40:00Z', 'to': '2018-04-09T07:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-09T07:00:00Z', 'to': '2018-04-09T15:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-09T15:20:00Z', 'to': '2018-04-09T23:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-09T23:40:00Z', 'to': '2018-04-10T08:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-10T08:00:00Z', 'to': '2018-04-10T16:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-10T16:20:00Z', 'to': '2018-04-11T00:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-11T00:40:00Z', 'to': '2018-04-11T09:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-11T09:00:00Z', 'to': '2018-04-11T17:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-11T17:20:00Z', 'to': '2018-04-12T01:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-12T01:40:00Z', 'to': '2018-04-12T10:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-12T10:00:00Z', 'to': '2018-04-12T18:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-12T18:20:00Z', 'to': '2018-04-13T02:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-13T02:40:00Z', 'to': '2018-04-13T11:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-13T11:00:00Z', 'to': '2018-04-13T19:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-13T19:20:00Z', 'to': '2018-04-14T03:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-14T03:40:00Z', 'to': '2018-04-14T12:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-14T12:00:00Z', 'to': '2018-04-14T20:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-14T20:20:00Z', 'to': '2018-04-15T04:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-15T04:40:00Z', 'to': '2018-04-15T13:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-15T13:00:00Z', 'to': '2018-04-15T21:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-15T21:20:00Z', 'to': '2018-04-16T05:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-16T05:40:00Z', 'to': '2018-04-16T14:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-16T14:00:00Z', 'to': '2018-04-16T22:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-16T22:20:00Z', 'to': '2018-04-17T06:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-17T06:40:00Z', 'to': '2018-04-17T15:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-17T15:00:00Z', 'to': '2018-04-17T23:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-17T23:20:00Z', 'to': '2018-04-18T07:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-18T07:40:00Z', 'to': '2018-04-18T16:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-18T16:00:00Z', 'to': '2018-04-19T00:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-19T00:20:00Z', 'to': '2018-04-19T08:40:00Z'}

REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-19T08:40:00Z', 'to': '2018-04-19T17:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-19T17:00:00Z', 'to': '2018-04-20T01:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-20T01:20:00Z', 'to': '2018-04-20T09:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-20T09:40:00Z', 'to': '2018-04-20T18:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-20T18:00:00Z', 'to': '2018-04-21T02:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-21T02:20:00Z', 'to': '2018-04-21T10:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-21T10:40:00Z', 'to': '2018-04-21T19:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-21T19:00:00Z', 'to': '2018-04-22T03:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-22T03:20:00Z', 'to': '2018-04-22T11:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-22T11:40:00Z', 'to': '2018-04-22T20:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-22T20:00:00Z', 'to': '2018-04-23T04:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-23T04:20:00Z', 'to': '2018-04-23T12:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-23T12:40:00Z', 'to': '2018-04-23T21:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-23T21:00:00Z', 'to': '2018-04-24T05:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-24T05:20:00Z', 'to': '2018-04-24T13:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-24T13:40:00Z', 'to': '2018-04-24T22:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-24T22:00:00Z', 'to': '2018-04-25T06:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-25T06:20:00Z', 'to': '2018-04-25T14:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-25T14:40:00Z', 'to': '2018-04-25T23:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-25T23:00:00Z', 'to': '2018-04-26T07:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-26T07:20:00Z', 'to': '2018-04-26T15:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-26T15:40:00Z', 'to': '2018-04-27T00:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-27T00:00:00Z', 'to': '2018-04-27T08:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-27T08:20:00Z', 'to': '2018-04-27T16:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-27T16:40:00Z', 'to': '2018-04-28T01:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-28T01:00:00Z', 'to': '2018-04-28T09:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-28T09:20:00Z', 'to': '2018-04-28T17:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-28T17:40:00Z', 'to': '2018-04-29T02:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-29T02:00:00Z', 'to': '2018-04-29T10:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-29T10:20:00Z', 'to': '2018-04-29T18:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-29T18:40:00Z', 'to': '2018-04-30T03:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-30T03:00:00Z', 'to': '2018-04-30T11:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-30T11:20:00Z', 'to': '2018-04-30T19:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-04-30T19:40:00Z', 'to': '2018-05-01T04:00:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-05-01T04:00:00Z', 'to': '2018-05-01T12:20:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-05-01T12:20:00Z', 'to': '2018-05-01T20:40:00Z'}
REQUEST: v3/instruments/GBP_USD/candles InstrumentsCandles {'granularity': 'M1', 'includeFirst': True, 'from': '2018-05-01T20:40:00Z', 'to': '2018-05-02T00:00:00Z'}

In [4]:
!ls

DataPrep-Train.ipynb         mining-scripts
DataPrep-Valid.ipynb         mining-scriptsGBP_USD.H4.csv
README.md

In [5]:
df = pd.read_csv('mining-scriptsGBP_USD.H4.csv', names=['time', 'complete', 'open', 'high', 'low', 'close', 'volume'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30298 entries, 0 to 30297
Data columns (total 7 columns):
time        30298 non-null object
complete    30298 non-null bool
open        30298 non-null float64
high        30298 non-null float64
low         30298 non-null float64
close       30298 non-null float64
volume      30298 non-null int64
dtypes: bool(1), float64(4), int64(1), object(1)
memory usage: 1.4+ MB

In [7]:
df.head()

                  time  complete     open     high      low    close  volume
0  2018-04-02T00:00:00      True  1.40368  1.40368  1.40351  1.40362      53
1  2018-04-02T00:01:00      True  1.40370  1.40372  1.40342  1.40354      60
2  2018-04-02T00:02:00      True  1.40357  1.40370  1.40356  1.40356      52
3  2018-04-02T00:03:00      True  1.40358  1.40360  1.40358  1.40359       7
4  2018-04-02T00:04:00      True  1.40358  1.40358  1.40332  1.40344      50

In [8]:
df['time'] = pd.DatetimeIndex(df['time'], tz='UTC')
df.head()

,time,complete,open,high,low,close,volume
0,2018-04-02 00:00:00+00:00,True,1.40368,1.40368,1.40351,1.40362,53
1,2018-04-02 00:01:00+00:00,True,1.40370,1.40372,1.40342,1.40354,60
2,2018-04-02 00:02:00+00:00,True,1.40357,1.40370,1.40356,1.40356,52
3,2018-04-02 00:03:00+00:00,True,1.40358,1.40360,1.40358,1.40359,7
4,2018-04-02 00:04:00+00:00,True,1.40358,1.40358,1.40332,1.40344,50

In [9]:
df.set_index('time',inplace=True)
df.head()

,complete,open,high,low,close,volume
time,,,,,,
2018-04-02 00:00:00+00:00,True,1.40368,1.40368,1.40351,1.40362,53
2018-04-02 00:01:00+00:00,True,1.40370,1.40372,1.40342,1.40354,60
2018-04-02 00:02:00+00:00,True,1.40357,1.40370,1.40356,1.40356,52
2018-04-02 00:03:00+00:00,True,1.40358,1.40360,1.40358,1.40359,7
2018-04-02 00:04:00+00:00,True,1.40358,1.40358,1.40332,1.40344,50

In [10]:
# let's now drop the complete column
del df['complete']

In [11]:
df.head()

                              open     high      low    close  volume
time
2018-04-02 00:00:00+00:00  1.40368  1.40368  1.40351  1.40362      53
2018-04-02 00:01:00+00:00  1.40370  1.40372  1.40342  1.40354      60
2018-04-02 00:02:00+00:00  1.40357  1.40370  1.40356  1.40356      52
2018-04-02 00:03:00+00:00  1.40358  1.40360  1.40358  1.40359       7
2018-04-02 00:04:00+00:00  1.40358  1.40358  1.40332  1.40344      50

In [12]:
# Writing to HDF5
os.chdir(path)
h5s = pd.HDFStore(instrument + '_' + gr + '_' + d1[:10] + '_' + d2[:10] + '.h5s', 'w', format='table')
h5s['data'] = df
h5s.close()

In [13]:
df.head()

                              open     high      low    close  volume
time
2018-04-02 00:00:00+00:00  1.40368  1.40368  1.40351  1.40362      53
2018-04-02 00:01:00+00:00  1.40370  1.40372  1.40342  1.40354      60
2018-04-02 00:02:00+00:00  1.40357  1.40370  1.40356  1.40356      52
2018-04-02 00:03:00+00:00  1.40358  1.40360  1.40358  1.40359       7
2018-04-02 00:04:00+00:00  1.40358  1.40358  1.40332  1.40344      50

In [14]:
# Creating new df object
data = df.copy()

In [15]:
data.head()

                              open     high      low    close  volume
time
2018-04-02 00:00:00+00:00  1.40368  1.40368  1.40351  1.40362      53
2018-04-02 00:01:00+00:00  1.40370  1.40372  1.40342  1.40354      60
2018-04-02 00:02:00+00:00  1.40357  1.40370  1.40356  1.40356      52
2018-04-02 00:03:00+00:00  1.40358  1.40360  1.40358  1.40359       7
2018-04-02 00:04:00+00:00  1.40358  1.40358  1.40332  1.40344      50

In [16]:
"""
Indicators
"""

# MA50
ma = 50
data['MA50'] = data['close'].rolling(ma).mean()

# Bollinger Bands
maB = 20
data['BB_20 ma'] = data['close'].rolling(maB).mean()
data['BB_20 sd'] = data['close'].rolling(maB).std()
data['BB_Upper Band'] = data['BB_20 ma'] + (data['BB_20 sd']*2)
data['BB_Lower Band'] = data['BB_20 ma'] - (data['BB_20 sd']*2)
data.drop(['BB_20 sd'], axis=1, inplace=True)

In [17]:
print(data['MA50'].nunique())
print(data['BB_20 ma'].nunique())
print(data['BB_Upper Band'].nunique())
print(data['BB_Lower Band'].nunique())

29698
29049
29924
29924

In [18]:
data.head()

,open,high,low,close,volume,MA50,BB_20 ma,BB_Upper Band,BB_Lower Band
time,,,,,,,,,
2018-04-02 00:00:00+00:00,1.40368,1.40368,1.40351,1.40362,53,NaN,NaN,NaN,NaN
2018-04-02 00:01:00+00:00,1.40370,1.40372,1.40342,1.40354,60,NaN,NaN,NaN,NaN
2018-04-02 00:02:00+00:00,1.40357,1.40370,1.40356,1.40356,52,NaN,NaN,NaN,NaN
2018-04-02 00:03:00+00:00,1.40358,1.40360,1.40358,1.40359,7,NaN,NaN,NaN,NaN
2018-04-02 00:04:00+00:00,1.40358,1.40358,1.40332,1.40344,50,NaN,NaN,NaN,NaN

In [19]:
# Remove the first records which don't have MA calculation
data.drop(data.index[:ma], inplace=True)
data.head()

,open,high,low,close,volume,MA50,BB_20 ma,BB_Upper Band,BB_Lower Band
time,,,,,,,,,
2018-04-02 00:50:00+00:00,1.40468,1.40470,1.40464,1.40464,18,1.403996,1.404378,1.404647,1.404109
2018-04-02 00:51:00+00:00,1.40462,1.40466,1.40450,1.40452,55,1.404015,1.404392,1.404660,1.404124
2018-04-02 00:52:00+00:00,1.40452,1.40454,1.40438,1.40448,59,1.404034,1.404404,1.404665,1.404143
2018-04-02 00:53:00+00:00,1.40448,1.40459,1.40448,1.40450,21,1.404052,1.404411,1.404674,1.404148
2018-04-02 00:54:00+00:00,1.40452,1.40456,1.40448,1.40450,62,1.404073,1.404414,1.404680,1.404148

In [21]:
# !mkdir data
# !mkdir data/images/
!mkdir data/images/valid
!mkdir data/images/valid/buy | mkdir data/images/valid/sell | mkdir data/images/valid/hold

mkdir: data/images/valid: File exists
mkdir: data/images/valid/buy: File exists

In [25]:
!ls data/images/valid

buy  hold sell

In [26]:
from ipywidgets import FloatProgress
from IPython.display import display

# Initialize the size of the ViewPort
size_ViewPort = 60
start_ViewPort = 0
end_ViewPort = size_ViewPort

# Progress bar
f = FloatProgress(min=0, max=(len(data.index)/end_ViewPort))
f.description = 'Progress'
display(f)
# go through the DataFrame and create ViewPorts of 30 records
pic_counter = 0
while end_ViewPort <= len(data.index):
    if (round(data.iloc[end_ViewPort]['close'], 4) - round(data.iloc[end_ViewPort+1]['close'], 4)) > 0:
        data.iloc[start_ViewPort:end_ViewPort].plot(
            kind='line', grid=False, legend=False, figsize=(3, 3)).axis('off')
        PATH = f'{path}/data/images/valid/buy'
        os.chdir(PATH)
        plt.savefig('buy.' + str(pic_counter) + '.png', dpi=100)
        plt.close()
        pic_counter += 1
        start_ViewPort = end_ViewPort
        end_ViewPort += size_ViewPort
    elif (round(data.iloc[end_ViewPort]['close'], 4) - round(data.iloc[end_ViewPort+1]['close'], 4)) == 0:
        data.iloc[start_ViewPort:end_ViewPort].plot(
            kind='line', grid=False, legend=False, figsize=(3, 3)).axis('off')
        PATH = f'{path}/data/images/valid/hold'
        os.chdir(PATH)
        plt.savefig('hold.' + str(pic_counter) + '.png', dpi=100)
        plt.close()
        pic_counter += 1
        start_ViewPort = end_ViewPort
        end_ViewPort += size_ViewPort
    else:
        data.iloc[start_ViewPort:end_ViewPort].plot(
            kind='line', grid=False, legend=False, figsize=(3, 3)).axis('off')
        PATH = f'{path}/data/images/valid/sell'
        os.chdir(PATH)
        plt.savefig('sell.' + str(pic_counter) + '.png', dpi=100)
        plt.close()
        pic_counter += 1
        start_ViewPort = end_ViewPort
        end_ViewPort += size_ViewPort
    f.value += 1
f.bar_style = 'success'

FloatProgress(value=0.0, description='Progress', max=504.1333333333333)

In [27]:
os.chdir('/Users/diegomedina-bernal/Desktop/MadGeniusAlgorithmic')

In [28]:
!rm -rf mining-scriptsGBP_USD.H4.csv